
<div id="is_correct"></div>

<div class="grid_4">
	<%= render "/guesses/hint" %>
</div>
<div class="hint"></div>
<div id="card" class="grid_5">
		<%=render "/guesses/card" %>

		<%=render "guesses/form" %>
</div>



<div id="error"></div>
