$mia-pink: #cc33ff;
$mia-purple: #4f0c8d;
$mia-green: #60ba3e;
$mia-brown: #643e27;



// .card {
// 	margin-top: 10%;
// 	height: 11em;
// 	background: url("/assets/card.png") no-repeat;
// 	#card_holder {
// 		display: block;
// 		.num1, .num2, .operator { 
// 			text-align: center;
// 			font-size: 5vw;
// 			color: $mia-brown;
// 			// margin: 0% 0% 0% 22%;
// 			padding-top: 1.2em;
// 	  }
// 	}
// }

.board {
	display: inline-block;
	position: relative;
	padding-top: 5em;
}


#guess_answer {
	width: 50%;
	margin-left: 10%;
	margin-top: 10%;
	border: 5px solid $mia-purple;
}

#answer {
	border: 5px solid #4f0c8d;
	background-color: white;
	color: $mia-purple;
}

.hide { 
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}



.is_correct {
	text-align: center;
	font-size: 1vw;
	color: $mia-pink;
}
/* Firefox 3.0+ */

#card {
	margin-top: 1%;
	height: 14em;
}

/* Safari 2.0+ */

#card {
	margin-top: 10%;
	height: 14em;
}



/*iphone or small*/
@media  screen and (max-width: 650px) {
	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 {
		width: 100%;
	}
	#mia_hint_container img {display: none;}



}