.mia_pointing {
	background: url("/assets/mia_waves.png") no-repeat;
	display: inline-block;
	position: relative;
	width: 10em;
	height: 16em;
}

.list_decks {
	display: inline-block;
	position: relative;
	font-family: Finger Paint;
	li {
		list-style-type: none;
	}
	a {
		font-size: 3vw;
		color: #cc33ff;
	}
}

.deck_container {
	position: absolute;
	top: 40%;
	left: 20%;
}



/* Firefox 3.0+ */

.mia_pointing {
	height: 20em;
}

/* Safari 2.0+ */
.mia_pointing {
	height: 20em;
}