.mia_pointing {
	// background: url("/assets/mia_waves.png") no-repeat;
	display: inline-block;
	position: relative;
	width: 100%;
	margin-top: -10%;
}

.list_decks {
	display: inline-block;
	position: relative;
	font-family: Finger Paint;
	li {
		list-style-type: none;
	}
	a {
		font-size: 3.5vw;
		color: #cc33ff;
	}
}

.deck_container {
	display: inline-block;
	position: relative;
	margin-top: 20%;
	margin-left: 5%;

}



/* Firefox 3.0+ */

.mia_pointing {
	height: 20em;
}

/* Safari 2.0+ */
.mia_pointing {
	height: 20em;
}



/*iphone or small*/
@media  screen and (max-width: 650px) {
	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 {
		width: 100%;
}
  .mia_pointing img {display: none;}


.list_decks {
	height: 10em;
	width: 30em;
	display: inline-block;
	position: relative;
	font-family: Finger Paint;
	li {
		list-style-type: none;
	}
	a {
		font-size: 6.5vw;
		color: #cc33ff;
	}
}

}
/*ipad or Medium*/

@media screen and (max-width: 1024px) {

// .mia_welcome {
// 	margin-top: -1em;
// }

}


