$mia-pink: #cc33ff;
$mia-purple: #4f0c8d;
$mia-green: #60ba3e;
$mia-brown: #643e27;




.flip {
  -webkit-perspective: 800;
   width: 400px;
   height: 200px;
    position: relative;
    margin: 50px auto;
}
.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
    background: $mia-pink;
    color:#fff;
}
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
    background: blue;
    background-color: $mia-green;
    color: #fff;
    font-size: 1.5vw;
}