$mia-pink: #cc33ff;
$mia-purple: #4f0c8d;
$mia-green: #60ba3e;
$mia-brown: #643e27;

h1, h2, h3, h4, h5, h6, a {
  font-family: Finger Paint;
}

h1 {
	font-size: 1.750em;
}

img {
	max-width: 100%;
}


.button {
	display: inline-block;
	position: relative;
	text-align: center;
	margin-left: 1%;
	height: 25%;
	width: 9%;
	border: .5em solid #4f0c8d;
	background-color: #60ba3e;
	border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  
  -webkit-box-shadow: inset .1em .1em .1em .1em gray;
  -moz-box-shadow: inset .1em .1em .1em .1em gray;
  box-shadow: inset .1em .1em .1em .1em gray;
  a {
  	color: white;
  	font-size: 90%;

  }
}

.pull_right {
	float: right;
}

body {
	overflow: hidden;
	background: url("/assets/background_smaller_copy.jpg") no-repeat center center fixed;
  background-size: cover;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}


#footer {
	position:absolute;
	bottom:0;
	width: 80%;
	height:4.5em;   /* Height of the footer */
}



/*iphone or small*/
@media  screen and (max-width: 650px) { 
.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 {
		width: 100%;
	}
	.button{ 
		width: 100%;
		float: center;
		margin-top: 1%;
	}

}

@media screen and (max-width: 1024px) {
// .button a{
// 	font-size: 70%;
// }

}



/*
#dren)colors{
  4f0c8d - purple
  cc33ff - pink
  60ba3e - green
  643e27 - brown
}*/




// ul {
// 	li {
// 	 display: inline;
// 	}
// }