#mia_hint_container {
	display: inline-block;
	position: relative;
	height: 19em;
	width: 15em;
	margin-top: 75%;
	.hint_helper {
		padding-bottom: -5em;
	}	 
}


.hint {
	font-size: 2.5vw;
	color: #cc33ff;
}