#mia_hint_container {
	display: inline-block;
	position: relative;
	height: 19em;
	width: 15em;
	margin-top: 75%;
	.hint_helper {
		padding-bottom: -5em;
	}	 
}


.hint {
	font-size: 2.5vw;
	color: #cc33ff;
}

/* Firefox 3.0+, Safari 2.0+ */

#mia_hint_container {
	margin-top: 25%;
}


/* Safari 2.0+ */

#mia_hint_container {
	margin-top: 65%;
}