$mia-pink: #cc33ff;
$mia-purple: #4f0c8d;
$mia-green: #60ba3e;
$mia-brown: #643e27;

.mia_welcome {
	background: url("/assets/mia_love.png") no-repeat;
	display: inline-block;
	position: relative;
	height: 22em;
	width: 20em;
	margin-top: 5%;
}

.grade_container {
	display: inline-block;
	position: relative;
	margin-top: 7%;
	margin-left: 7%;
	h2 {
	margin-top: 5%;
	font-size: 3vw;
	}
	li { display: inline;}
	a { color: $mia-pink;}
	a:hover { color: $mia-purple}
}

.page_welcome {
	text-align: center;
	color: $mia-purple;
}


/* Firefox 3.0+ */

.mia_welcome {
	height: 25em;
	margin-top: 0%;
}

/* Safari 2.0+ */

.mia_welcome {
	height: 25em;
	margin-top: 10%;
}

/*iphone or small*/
@media  screen and (max-width: 650px) {

}
/*ipad or Medium*/

@media screen and (max-width: 1024px) {

 h2 {
	margin-top: 5%;
	font-size: 3vw;
	}

}


