$mia-pink: #cc33ff;
$mia-purple: #4f0c8d;
$mia-green: #60ba3e;
$mia-brown: #643e27;

.mia_welcome {
	background: url("/assets/mia_love.png") no-repeat;
	display: inline-block;
	position: relative;
	width: 18em;
	max-width: 100%;
}

.grade_container {
	display: inline-block;
	position: relative;
	margin-left: 3%;
	h2 {
	margin-top: 5%;
	font-size: 1.750em;
	}
	li { display: inline;}
	a { color: $mia-pink;}
	a:hover { color: $mia-purple}
}

.page_welcome {
	text-align: center;
	color: $mia-purple;
}


/* Firefox 3.0+ */

.mia_welcome {
	height: 10em;
	margin-top: 0%;
}

.grade_container {
	margin-top: 0%;
	h3 {
	margin-top: 5%;
	font-size: 3.5vw;
	}
}

/* Safari 2.0+ */

.mia_welcome {
	height: 25em;
	margin-top: 10%;
}

/*iphone or small*/
@media  screen and (max-width: 650px) {
	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 {
		width: 100%;
}

.mia_welcome {
	display: none;
}

h2 {
	display: none;
}


.grade_container {
 width: 100%;
 font-size: 4.5vw;
 text-align: center;
 margin-top: 0%;
}


}
/*ipad or Medium*/

@media screen and (max-width: 1024px) {

 h2 {
	margin-top: 5%;
	font-size: 3vw;
	}

	.mia_welcome {
		margin-top: 0%;
	}

}


