%h1 Thank you for visiting us.

%p.grid_7
	Mia Math is an MIT licensed open source software platform for girls. 
	If you're a teacher we would love if you contributed content to the application here.
	Built and maintained by:
	=link_to "Katharine VanderDrift", "http://about.katharine.org"